<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/authentication.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Authentication</title>
</head>
<body>
    <div class="container">
        <div class="outerContainer">
            <div class="titleContainer innerBox">
                <h2 id="formTitle">USER AUTHENTICATION</h2>
                <P id="formTagline">Authentication is used for granting a secure access. </P>
            </div>
            <div class="formContainer innerBox">
                <div class="formCard">
                    <div class="formInput">
                        <input type="text" name="" id="username" placeholder="Enter UserName">
                        <input type="text" name="" id="password" placeholder="Enter Password">
                    </div>
                    <div class="errorMessage" style="height: 16px;">
                        <p id="message"></p>
                    </div>
                    <div class="buttons">
                        <button id="logIn">Log In</button>
                        <button id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../public/js/authentication.js"></script>
</body>
</html>