<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/registration.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Registration</title>
</head>
<body>
    <div class="container">
        <div class="outerContainer">
            <div class="titleContainer innerBox">
                <h2 id="formTitle">USER REGISTRATION</h2>
                <P id="formTagline">Registration is used for collecting users details.</P>
            </div>
            <div class="formContainer innerBox">
                <div class="formCard">
                    <div class="formInput">
                        <div class="name">
                            <input type="text" name="" id="firstName" placeholder="First Name">
                            <input type="text" name="" id="lastName" placeholder="Last Name">
                        </div>
                        <input type="date" name="" id="dob" placeholder="Enter DOB">
                        <input type="text" name="" id="password" placeholder="Enter Password">
                        <p id="message"></p>
                    </div>
                    <div class="buttons">
                        <button id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../public/js/registration.js"></script>
</body>
</html>